@import "./_variables.scss";

.button {
    font-family: $font-primary;
    font-size: 16px;
    color: $blue-jeans;
    text-decoration: none;
    position: relative;
    background: transparent;
    padding: 8px 50px;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid $dark-orchid;
    transition: all 0.2s ease;

    &:active, &:focus, &:hover {
        background-color: $orchid;
        border-color: $orchid;
    }
}
