@import "./_variables.scss";

.button {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
    background: transparent;
    padding: 8px 50px;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid $dark-orchid;
    transition: all 0.2s ease;

    &:active, &:focus, &:hover {
        background-color: $orchid;
        border-color: $orchid;
    }
}